*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

img{
  width: 100%;
}

body{
  
  width: 100%;
  height: 100vh;
}

.mainContent{
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
}

.mainContent h1{
  font-size: 32px;
  font-weight: 500;
}